:root {
    --gris: #777;
    --plata: #aaa;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: #fafafa;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--plata);
}

a {
    color: var(--gris);
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: underline;
}

:hover {
    transition: 0.5s ease color;
}

h1 {
    font-weight: 500;
    font-size: 1.4rem;
}

h1 a {
    color: #333;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
}

h2 {
    font-weight: 700;
    font-size: calc(1rem + 0.5vw);
    line-height: 1.5;
    color: var(--plata);
}

h3 {
    font-weight: 500;
    font-size: 1rem;
    color: var(--plata);
}

p.lead {
    font-size: calc(1rem + 0.5vw);
    margin: 0;
    padding: 0;
}

@media (max-width: 576px) {
    h3 a:before {
        content: "↑ ";
    }
}

.nav {
    font-weight: 700;
}

.nav a {
    text-decoration: none;
    display: inline-block;
    padding:0.75rem 1rem 0.5rem 1rem;
    position: relative;
}

a.pasive:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
    width: 0;
}

a.pasive:hover:after {
    width: 100%;
    left: 0;
}

a.active {
    color: #000;
}

figure blockquote.blockquote {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-size: calc(1.4rem + 1vw);
    line-height: 1.3;
    display: inline;
}

figure figcaption.blockquote-footer {
    font-weight: 500;
    font-size: calc(1rem + 1vw);
    color: #222;
    display: inline;
}

figure figcaption.blockquote-footer:before {
    content: "" !important;
}

figure figcaption.blockquote-footer abbr {
    font-family: "PT Serif", serif;
    letter-spacing: 0.05rem;
    margin-left: 0.25rem;
    color: #222;
}

article {
    padding: 1.5rem 0;
    min-height: auto;
}

@media (min-width: 992px) {
    article {
        padding: 1rem 0;
        min-height: calc(50vh - 2rem);
    }
}

abbr {
    border-bottom: none !important;
    text-decoration: none !important;
}

.grilla {
    background-image: url("img/bg-1200.png");
    background-repeat: repeat-y;
    background-size: 100% auto;
}

@media (min-width: 1px) and (max-width: 575.98px) {
    .grilla {
        background-image: url("img/bg-472.png");
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .grilla {
        background-image: url("img/bg-576.png");
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .grilla {
        background-image: url("img/bg-768.png");
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .grilla {
        background-image: url("img/bg-992.png");
    }

}

/* SVG */

svg text {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 4px;
    fill: #aaa;
}

@keyframes bajele {
    from {
        transform: translate(0, -1px);
    }
    to {
        transform: translate(0, 2px);
    }
}

svg g {
    fill: none;
    stroke: #aaa;
    stroke-width: 0.3;
    stroke-miterlimit: 10;
    animation-name: bajele;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* MAPA CONTACTO */

#mapa{
width: 100%; 
height: 48vh;     
}

@media (max-width: 767.98px) { 
    #mapa{
        width: 100%; 
        height: 48vw;     
    }
}
