@charset "UTF-8";

:root {
    --negro:#00000E;
    --casi-negro:#1D1D28;
    --gris-oscuro: #3B3B42;
    --gris-medio:#58585B;
    --gris-claro:#757575;
    --cian: #007DB3;
    --magenta: #E00083;
    --blanco:#fafafa;
}

@font-face {
    font-family: 'Anouk';
    src: url('font/Anouk-Regular.woff2') format('woff2'),
         url('font/Anouk-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Anouk Italic';
    src: url('font/Anouk-ItalicSquare.woff2') format('woff2'),
         url('font/Anouk-ItalicSquare.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    background:var(--blanco);
    color:var(--negro);
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--gris-claro);
}

a {
    color: var(--gris-claro);
    text-decoration: none;
}

a:hover {
    color: var(--negro);
    text-decoration: none;
}


h1,h3,h5,h6{ font-weight: 700;}

h2,h4{ font-weight: 500; }

h1 {
    font-size: 1.4rem;
    text-align: left;
    letter-spacing: 0.01rem;
    color:var(--gris-oscuro);
}

h1 span{
    display: block;
    font-size:88%;
}

h1 a{
    color:var(--gris-oscuro);
}

h1 a span{
    color:var(--gris-medio);
}

h1 a:hover{
    color:var(--negro);
}

h1 a:hover span{
    color:var(--gris-oscuro);
}

/* NAVEGACIÓN */

.nav {
    font-weight: 700;
    letter-spacing: 0.03rem;
}

.nav a {
    text-decoration: none;
    display: inline-block;
    padding: 0.75rem 0;
    margin-right:2rem;
    position: relative;
}

.nav a:last-child{
    margin-right:0;
}

a.pasive:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: var(--negro);
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
    width: 0;
}

a.pasive:hover:after {
    width: 100%;
    left: 0;
}

a.active {
    color: #000;
}


/* TITULARES */

h2 {
    font-size: 1.4rem;
    margin-top:0.5vw;
    color:var(--gris-claro);
}

h3 {
    font-size: calc(1.75rem - 0.5vw);
    line-height: 1.3;
    color:var(--gris-oscuro);
}


h4 {
    margin-bottom:1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color:var(--gris-oscuro);
}

a h3{ color:var(--gris-oscuro); transition: color ease .5s;}

a h4{ color:var(--gris-claro); transition: color ease .5s; }

a:hover h3{ color:var(--negro); transition: color ease .5s; }

a:hover h4{ color:var(--casi-negro); transition: color ease .5s; }


h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p em{color:var(--magenta); font-style: normal;}

p strong{font-weight: 700;}


p.lead {
    font-family: 'Spectral', serif;
    font-weight: 400;
    font-size: calc(1rem + 1vw);
    margin: 0;
    padding: 0;
    color:var(--magenta);
}

p.lead em {
    color:#00B0E9;
    font-weight: 400;
    font-style: italic;
}


figure blockquote.blockquote {
    color:var(--magenta);
    font-family: "Anouk Italic", serif;
    font-weight: 400;
    font-size: calc(3rem + 1vw);
    line-height: 1;
}

figure figcaption.blockquote-footer {
    color: var(--gris-oscuro);
    margin-top:0.75rem;
    font-weight: 500;
    font-size: calc(0.7rem + 1vw);
}

figure figcaption.blockquote-footer:before {
    content: " " !important;
}


abbr {
    border-bottom: none !important;
    text-decoration: none !important;
}

/* SVG */


@keyframes bajele {
    from {
        transform: translate(0, -1px);
    }
    to {
        transform: translate(0, 2px);
    }
}

svg#flecha g {
    fill: none;
    stroke: #aaa;
    stroke-width: 0.3;
    stroke-miterlimit: 10;
    animation-name: bajele;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#orquesta {
    background: silver url("images/orquesta.jpg") 0 0 no-repeat;
    background-size: cover;
}

#orquesta > div {
    width: 77%;
}

@media (min-width: 768px) {
    #orquesta > div {
        width: 65%;
    }
}
